@charset "utf-8";
/* CSS Document */

.Container {
	width: 89.0217%;
	max-width: 1232px;
	padding-left: 0.4891%;
	padding-right: 0.4891%;
	margin: auto;	
}

#logo {
	clear: both;
	float: left;
	margin-left: 16.8498%;
	width: 66.3003%;
	display: block;
	text-align: center;
}

#title {
	clear: both;
	float: left;
	margin-left: 16.8498%;
	width: 66.3003%;
	display: block;
	text-align: center;
	background: #06F;
	background-repeat:repeat;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}

#content {
	clear: both;
	float: left;
	margin-left: 16.8498%;
	width: 66.3003%;
	display: block;
	margin-top:10px;
	
}
table {
	background:#FFC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:#333 1px solid;
	width:70%;	
}
th { background: #CFC; }
th, td { border:#333 1px solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
 }
.boton { 
	width: 100px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight:bold;
	font-size:18px;
}
.enlace {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
	border:#333 1px solid;
	width:150px;
	text-align:center;
	background:#CFC;
	margin:10px 0;
	padding:10px;
		
}
.enlace a:link { 
	display:block;
	text-decoration:none;
	font-weight:bold;
	color:#06C;
	
}
ul .seccion {
	
	font-weight:bold;
	border-top:#06F 3px solid;
	margin: 10px auto;
}
.elementos li {
	font-weight: bold;
}


